@import 'extends';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'breakpoints';

html, body {
    height: 100%; 
  }

body { 
    
    * {
        border: 1px solid black;
        box-sizing: border-box;
    }
    
    .body_wrapper {
        border: 1px solid red;

        @include flex-align(row, center, stretch);
    }
}
