//positioning

@mixin flex-align($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

//sizes

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin font-size-lp($size, $letter-spacing) {
    font-size: $size;
    letter-spacing: $letter-spacing;
}

//colors

@mixin text-size-color($fontsize, $color) {
    font-size: $fontsize;
    color: $color;
}

//icons

@mixin social-icon($content, $size, $color) {
    content: $content;
    font-size: $size;
    color: $color;
}