//positioning

@mixin flex-align($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

//sizes

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin font-size-lp($size, $letter-spacing) {
    font-size: $size;
    letter-spacing: $letter-spacing;
}