
.icon-fb:before { content: '\e800'; } /* '' */
.icon-google:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-rss1:before { content: '\e803'; } /* '' */
.icon-tw:before { content: '\e804'; } /* '' */
.icon-vk1:before { content: '\e805'; } /* '' */
