@use '../utils/breakpoints' as breakpoints;
@use '../utils/variables' as variables;   
@use '../utils/mixins' as mixins;

@include breakpoints.desktop {
    .left_panel {
        @include mixins.size(80px, 1050px);

        background-color: #B11217;
    }

    .right_panel {
        width: 270px;
    }

    .main_wrapper {
        width: 100%;
        border-width: 2px;

        .main_content {
           @include mixins.flex(column);
        }
    }

    .news_block1 {
        @include mixins.size(100%, 1163px);
    }

    .news_block2 {
        @include mixins.size(100%, 815px);
    }

    .news_block3 {
        @include mixins.size(100%, 1300px);
    }

    footer {
        @include mixins.size(100%, 549px);
        background-color: black;
    }
}