@use '../utils/breakpoints' as breakpoints;
@use '../utils/variables' as vars;   
@use '../utils/mixins' as mixins;
@use '../utils/extends' as extends;

.news_block1 {
    display: grid;
    grid-template-columns: 28% repeat(3, auto);
    grid-template-rows: vars.$big-news-height vars.$small-news-height;
    grid-template-areas: 
        'hour_news big_news big_news main_news'
        'hour_news article1 article2 article3';

    overflow: hidden;

    .special_news {
        grid-area: hour_news;

        .hour_news {
            @include mixins.flex-align(column, center, center);
            @include mixins.calc-paddings-margins(px, padding, 34,71,71,71);

            .block_title {
                font-size: 16px;
            }

            .sm_article_text {
                font-size: 12px;
                text-align: center;
                border: 0;
            }
    
            .time_tag {
                font-size: 11px; 
            }
        }
    }

    .big_news {
        grid-area: big_news;
    }

    .main_news {
        grid-area: main_news;
    }

    .small_news {
        &:nth-child(1) {
            grid-area: article1;
        }

        &:nth-child(2) {
            grid-area: article2;
        }

        &:last-child {
            grid-area: article3;
        }
    }
}