@use '../utils/breakpoints' as breakpoints;
@use '../utils/variables' as vars;   
@use '../utils/mixins' as mixins;
@use '../utils/extends' as extends;

.news_block1 {
    display: grid;
    grid-template-columns: vars.$first-column-width repeat(3, vars.$other-column-width);
    grid-template-rows: vars.$big-news-height vars.$small-news-height;
    grid-template-areas: 
        'hour_news big_news big_news main_news'
        'hour_news article1 article2 article3';

    .special_news {
        grid-area: hour_news;
    }

    .big_news {
        grid-area: big_news;
    }

    .main_news {
        grid-area: main_news;
    }

    .small_news {
        &:nth-child(1) {
            grid-area: article1;
        }

        &:nth-child(2) {
            grid-area: article2;
        }

        &:last-child {
            grid-area: article3;
        }
    }
}