$breakpoint_desktop: 1680px;
$breakpoint_tablet: 1536px;
$breakpoint_mobile: 750px; 

//colors

$white-smoke: #E9E9E9;
$dark-grey: #858585;
$lighter-grey: #AAAAAA;
$light-grey: #838383;

//sizes

/*news_block1*/
$first-column-width: 334px;
$other-column-width: 332px;
$big-news-height: 669px;
$small-news-height: 494px;