@font-face {
  font-family: "FiraSans-Book";
  src: url("../fonts/FiraSans-Book.otf") format("otf"), url("../fonts/FiraSans-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-Light";
  src: url("../fonts/FiraSans-Light.otf") format("otf"), url("../fonts/FiraSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-Medium";
  src: url("../fonts/FiraSans-Medium.otf") format("otf"), url("../fonts/FiraSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-Regular";
  src: url("../fonts/FiraSans-Regular.otf") format("otf"), url("../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hoefler-Text";
  src: url("../fonts/Hoefler-Text.ttc") format("ttc"), url("../fonts/hoeflertext.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf") format("ttf"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "soc_font";
  src: url("/src/icons/icon_font/soc_font.woff2"), url("/src/icons/icon_font/soc_font.ttf");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body * {
  border: 1px solid black;
  box-sizing: border-box;
  font-family: "Inter-Regular";
}
body .body_wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

header svg, header img, header .photo_block, header .text_block, header i, header .mail, header .icon {
  border: none;
}
@media (min-width: 1680px) {
  header {
    width: 100%;
    height: 360px;
    padding: 30px;
    background-color: #E9E9E9;
  }
  header .header_top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .header_top-content .money_block {
    font-size: 12px;
    letter-spacing: 0.35px;
  }
  header .header_top-content .money_block .dollar {
    margin: 0 15px;
  }
  header .header_top-content .social_block {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  header .header_top-content .social_block .icon {
    font-family: "soc_font";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
  }
  header .header_top-content .social_block i {
    border: none;
  }
  header .header_top-content .social_block .mail::before {
    content: "\e802";
  }
  header .header_main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translateY(50%);
    padding: 0 78px;
  }
  header .header_main-content .header_main-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    letter-spacing: 0.4px;
  }
  header .header_main-content .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .header_main-content .logo .logo_text {
    font-size: 59px;
    letter-spacing: 1.75px;
  }
  header .header_main-content .logo .calendar {
    text-align: center;
  }
}

@media (min-width: 1680px) {
  .left_panel {
    width: 80px;
    height: 1050px;
    background-color: #B11217;
  }
  .right_panel {
    width: 270px;
  }
  .main_wrapper {
    width: 100%;
    border-width: 2px;
  }
  .main_wrapper .main_content {
    display: flex;
    flex-direction: column;
  }
  .news_block1 {
    width: 100%;
    height: 1163px;
  }
  .news_block2 {
    width: 100%;
    height: 815px;
  }
  .news_block3 {
    width: 100%;
    height: 1300px;
  }
  footer {
    width: 100%;
    height: 549px;
    background-color: black;
  }
}
* {
  margin: 0;
  padding: 0;
  border: none;
}

/*# sourceMappingURL=style.css.map */
