@use '../common/breakpoints' as breakpoints;
@use '../common/variables' as variables;   
@use '../common/mixins' as mixins;

header {
    svg, img, .photo_block, .text_block, i, .mail, .icon {
        border: none;
    }

    @include breakpoints.desktop {
        @include mixins.size(100%, 360px);
        padding: 30px;

        background-color: #E9E9E9;

        .header_top-content {
            @include mixins.flex-align(row, space-between, center);

            .money_block {
                @include mixins.font-size-lp(12px, 0.35px);
                position: relative;

                .dollar {
                    margin-left: 16px;

                    &::before {
                        @include mixins.pseudo-elem(url('/src/icons/ico_dollar.svg'), absolute, 0, 0, 0, 0);
                    }
                }

                .euro {
                    margin-left: 28px;

                    &::before {
                        @include mixins.pseudo-elem(url('/src/icons/ico_euro.svg'), absolute, 0, 0, 0, 75px);
                    }
                }
            }

            .social_block {
                position: relative;
                transform: translateX(8%);
                
                @include mixins.flex-align(row, center, center);
                gap: 27px;

                    .icon {
                        font-family: 'soc_font';
                        font-style: normal;

                        display: inline-block;

                        &_mail::before {
                            @include mixins.social-icon('\e802', 17px, #858585);
                        }

                        &_fb::before {
                            @include mixins.social-icon('\e800', 17px, #AAAAAA);
                        }

                        &_tw::before {
                            @include mixins.social-icon('\e804', 20px, #AAAAAA);
                        }

                        &_google::before {
                            @include mixins.social-icon('\e801', 17px, #AAAAAA);
                        }

                        &_vk::before {
                            @include mixins.social-icon('\e805', 20px, #838383);
                        }

                        &_rss::before {
                            @include mixins.social-icon('\e803', 17px, #838383);
                        }
                      }
                }

                .pension_block {
                    @include mixins.flex-align(row, center, center);
                }

                .pension {
                    padding-left: 19px;
                    position: relative;

                    @include mixins.font-size-lp(13px, 0.35px);

                    &::before {
                        @include mixins.pseudo-elem(url('/src/icons/ico_pension.svg'), absolute, 0, 0, 75px, 0);
                    }
                }
            
        }

        .header_main-content {
            @include mixins.flex-align(row, space-between, center);

            padding: 0 78px;
            position: relative;
            transform: translateY(50%);

            .header_main-block {
                @include mixins.flex-align(row, center, center);

                max-width: 320px;
                line-height: 22.5px;
            }

            .logo {
                @include mixins.flex-align(column, center, center);

                .logo_text {
                    @include mixins.font-size-lp(59px, 1.75px);
                    padding-bottom: 24px;
                }

                .calendar {
                    text-align: center;
                    margin-bottom: 11px;
                }

                .weather {
                    margin-left: 36px;
                    position: relative;

                    &::before {
                        @include mixins.pseudo-elem(url('/src/icons/cloud_ico.svg'), absolute, 0, 0, 0, -20px);
                    }
                }

                .info_block {
                    @include mixins.font-size-lp(15px, 0);
                }
            }

            .header_main-block:first-child {
                @include mixins.font-size-lp(15px, 0.4px);

                .text_block {
                    margin-left: 25px;
                }
            }

            .header_main-block:last-child {
                @include mixins.font-size-lp(13px, 0.35px);

                .text_block {
                    margin-left: 22px;
                }

                .info_block {
                    @include mixins.font-size-lp(11px, 0);
                    @include mixins.flex-align(row, stretch, center);
                }

                .time {
                    margin-left: 27px;
                    position: relative;

                    &::before {
                        @include mixins.pseudo-elem(url('/src/icons/ico_clock.svg'), absolute, 0, 0, 0, -20px);
                        transform: translateY(20%);
                    }
                }
            }
        }
    }
}