@font-face {
    font-family: 'FiraSans-Book';
    src: url('../fonts/FiraSans-Book.otf') format('otf'),
        url('../fonts/FiraSans-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/FiraSans-Light.otf') format('otf'),
        url('../fonts/FiraSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/FiraSans-Medium.otf') format('otf'),
        url('../fonts/FiraSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.otf') format('otf'),
        url('../fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hoefler-Text';
    src: url('../fonts/Hoefler-Text.ttc') format('ttc'),
        url('../fonts/hoeflertext.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf') format('ttf'),
        url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

//icon fonts

@font-face {
    font-family: 'soc_font';
    src: url('/src/icons/icon_font/soc_font.woff2'),
        url('/src/icons/icon_font/soc_font.ttf');
    font-weight: normal;
    font-style: normal;
}