@use './utils/extends' as *;
@use './utils/variables' as *;
@use './utils/mixins' as *;
@use 'fonts' as *;
@use './utils/breakpoints' as *;

html, body {
    height: 100%; 
  }

body { 
    @include flex-align(column, stretch, center);

    * {
        border: 1px solid black;
        box-sizing: border-box;
        font-family: 'Inter-Regular';
    }

    h1, h2, h3 {
        all: unset;
        display: block;
    }
    
    .body_wrapper {
        @include flex-align(row, center, stretch);
        max-width: $breakpoint_desktop;
    }

    .visually-hidden {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        white-space: nowrap;

        font-size: 30px;

        clip: rect(0, 0, 0, 0);
        visibility: hidden;
    }
}
