@use './utils/extends' as *;
@use './utils/variables' as *;
@use './utils/mixins' as *;
@use 'fonts' as *;
@use './utils/breakpoints' as *;

html, body {
    height: 100%; 
  }

body { 
    
    * {
        border: 1px solid black;
        box-sizing: border-box;
        font-family: 'Inter-Regular';
    }
    
    .body_wrapper {
        border: 1px solid red;

        @include flex-align(row, center, stretch);
    }
}
